@font-face {
  font-family: inter;
  font-weight: 400;
  font-display: swap;
  src: url('src/assets/fonts/inter-v12-latin_cyrillic-regular.woff2');
};

@font-face {
  font-family: inter;
  font-weight: 600;
  font-display: swap;
  src: url('src/assets/fonts/inter-v12-latin_cyrillic-600.woff2');
};

@font-face {
  font-family: inter;
  font-weight: 700;
  font-display: swap;
  src: url('src/assets/fonts/inter-v12-latin_cyrillic-700.woff2');
};